body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}

hr {
    width: 80%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

#board {
    width: 90vmin;
    height: 90vmin;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.tile {
    width: 30vmin;
    height: 30vmin;
    font-size: 20vmin;
    display: flex;
    justify-content: center; 
    align-items: center;   
    color: rgba(255, 255, 255, 0); 
    -webkit-text-stroke: 0.5vmin white;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 6vmin;
    margin-top: 20px;
}

.winner {
    background-color: black;
    color: rgb(255, 247, 0);
    -webkit-text-stroke: 0.3vmin black;
}

.horizontal-line {
    border-bottom: 0.7vmin solid white;
}

.vertical-line {
    border-right: 0.7vmin solid white;
}

.fading {
    animation: blip 1s infinite alternate;
}

@keyframes blip {
    0% {
        background-color: grey;
        opacity: 0.5;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
        background-color: lightgrey;
        opacity: 0.7;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    }
    100% {
        background-color: grey;
        opacity: 0.5;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

#player {
    display: flex;
    justify-content: center;
    margin-top: 5vmin;
    gap: 5vmin;
}

.player_x, .player_o {
    font-size: 4vmin;
    font-weight: bold;
    padding: 2vmin;
    border-radius: 50%;
    width: 10vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: yellow;
}
